################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AthruRewrite/Athru/Athru.VC.VC.opendb

AthruRewrite/Athru/Athru/x64/
*.ipch
*.tlog
*.db
*.idb
*.obj
